# Midterm Prep

## What salient points and techniques to include:


### Numpy / Linear Algebra (week 3)
 - numpy data processing
 - linear algebra in practice
 
### Pandas / Time Series (week 4)
 - representing time
 - time series

### Visualising Data (week 5)
 - qualitative and quantitative
 - information and scientific visulaisation
 
### Visual Perception and Design (week 6)
 - data visualisation
 - exploratory and explanatory visualisation
 - Matplotlib

### Descriptive Statistics (week 7)
 - quartiles 
 - central tendency
 - standard deviation
 - dispersion
 - making sense of data
 
### Statistics (week 8)
 - nominal variables
 - ordinal variables
 - processing numerical data
 - making sense of data 2
 
### Machine Learning (week 9)
 - scikit-learn
 - linear regression
 - iris classification
 - iris dimensionality
 - iris clustering
 
### Selecting the Best Model (week 10)
 - bias-variance trade-off
 - validation curvew
 - learning curves
 - grid search
 
### Text Processing (week 11)
 - text processing fundamentals
 - representing text
 - understanding unstructured data
 
### Text Processing 2 (week 12)
 - regular expressions
 - stop words
 
### Natural Language Processing (week 13)

### Natural Language Processing 2 (week 14)
 - semantic similaity
 - wordNet
 - NLTK
 - word embeddings
 - information extraction
 - POS (part of speech) tagging
 - relation extraction

### Graphs and Networks (week 15)
 - visualising graphs
 - building and visualising networks
 
### Advanced Data Visualisation (week 16)
 - heat maps
 - multi-dimensional plot
 - paralell coordinates

# ------------------------------------------------------------------------------------------------------

## l. Introduction

### 1. Identify a domain specific area:

(An area of industry or science where the regression model will contribute)

Bitcoin and other cryptocurrency price action

Financial markets have been massively disrupted by the emergence of Bitcoin and other crypto-assets and their realted exchanges. Fortunes have been made and destroyed in equally quick time, billions of dollars in value has been created and destroyed.

Understanding the dynamics of these markets can help protect investors from bad investment decisions.
I ultimately intend to implement a regression model that will attempt to remove the short-term violent volatility out of the data and predict a general pattern over longer timeframes. The reasoning behind this is to remove the risk of trying to mitigate for short term volatility by attempting to time the short-term volatility in the market.

### 2. Dataset
#### https://www.kaggle.com/datasets/sudalairajkumar/cryptocurrency-historical-prices-coingecko?select=ftx-token.csv

Due to the sheer amount of interest in the crypto asset class, there are many sources of data that aggregate the price action over many marketplaces, and present this data in readable and easiliy usable format. 'CoinGecko' is one example of a price monitoring service for the asset class, keeping historical data and updating data on a virtual real-time basis.

All this data is accessible via the Coingecko API, which is free, publicly available and currently has over 30 endpoints. There is data available on over 13000 crypto assets, and the data is tracked over 600 exchanges.

In the name of expediency, I have obtained a .csv file of the dataset from Kaggle that has been updated upto the day of download
##### This dataset takes the top 50 crypto assets by market cap

### 3. Objectives of the Project

"State and justify the objectives of the project. Discuss its impact and contribution to the
domain-specific area. State any contribution which the results may make to the challenge
addressed"

The rapid rise of the crypto asset class has taken everybody by surprise, and has gained a reputation as the 'wild-west' of finaicial markets. While there are many proponents of unregulation in the crypto space, stating ideological reasons such as decentralisation and keeping government out of the industry, there appears to be a conflation of the principle of truly decentralised technologies such as bitcoin, with very centralised tokens and exchanges that share the monicker "crypto" but are still subject to centralised entities who can initiate massive market moves and mismanage user funds.
The most egregious and recent example of this is Sam Bankman-Fried's exchange FTX, where user deposited user funds were swapped immediately with the exchanges native token FTT, while the FIAT deposits were transferred to Mr Bankman-Fried's hedgefund, where the money was lost.

There are exchanges out there that are more transparrent about their financials and guarentee to hold user assets in an exact one-to-one ratio, such as the American based 'Coinbase'.

The SEC in the United States have described Bitcoin as separate to other crypto assets, and have brought lawsuits against claiming other crypto assets are securities and fall under the purview of the SEC to regulate. In such volatile markets, even the suggestion of regulation or legal action to be taken against a particular crypto asset can have massive implications on the price action of that asset, putting investors in the firing line again. One prime example of this is the supression of the XRP token value due to the lawsuit brought against Ripple labs who created it and the XRP ledger.

Due to all this uncertainty in such a high stakes market, I intend to demonstrate how historical data can lead to theoretically possible future outcomes that can contribute to the mitigation of risk for investors

## ll. Implementation

### 4. Convert / Store Dataset locally & Preprocess the Data

The zip file downloaded from Kaggle contains a separate .csv file for each different crypto asset

This notebook will treat bitcoin and ethereum as 'blue chip' crypto assets which will be examined individually, but the remainder of the dataset (top 50 crypto assets by market cap) will be combined to be able to compare the effect of market conditions on market cap.

In [40]:
# import pandas to create dataframe from csv file
import pandas as pd

In [92]:
# read csv and create dataframes for eth and btc

# btc
btc_df = pd.read_csv('datasets/bitcoin.csv')
btc_df.head(20)

                       date       price  total_volume    market_cap coin_name
0   2015-01-01 00:00:00.000  313.992000  4.699936e+07  4.293958e+09   bitcoin
1   2015-01-02 00:00:00.000  314.446000  3.885591e+07  4.301448e+09   bitcoin
2   2015-01-03 00:00:00.000  286.572000  1.187789e+08  3.921358e+09   bitcoin
3   2015-01-04 00:00:00.000  260.936000  2.055001e+08  3.571640e+09   bitcoin
4   2015-01-05 00:00:00.000  273.220000  1.550381e+08  3.740880e+09   bitcoin
5   2015-01-06 00:00:00.000  285.373800  9.700290e+07  3.908408e+09   bitcoin
6   2015-01-07 00:00:00.000  295.872500  1.106742e+08  4.053239e+09   bitcoin
7   2015-01-08 00:00:00.000  284.452500  8.657054e+07  3.897824e+09   bitcoin
8   2015-01-09 00:00:00.000  289.573800  8.347840e+07  3.968993e+09   bitcoin
9   2015-01-10 00:00:00.000  274.533000  9.268384e+07  3.763909e+09   bitcoin
10  2015-01-11 00:00:00.000  267.184000  7.325674e+07  3.664201e+09   bitcoin
11  2015-01-12 00:00:00.000  268.353668  7.898221e+07  3.681155e+09   bitcoin
12  2015-01-13 00:00:00.000  221.436000  2.157522e+08  3.038251e+09   bitcoin
13  2015-01-14 00:00:00.000  172.147900  2.360069e+08  2.362640e+09   bitcoin
14  2015-01-15 00:00:00.000  210.555900  2.576375e+08  2.890522e+09   bitcoin
15  2015-01-16 00:00:00.000  205.816000  1.762175e+08  2.826188e+09   bitcoin
16  2015-01-17 00:00:00.000  199.491400  1.064315e+08  2.740019e+09   bitcoin
17  2015-01-18 00:00:00.000  208.989200  1.186642e+08  2.871292e+09   bitcoin
18  2015-01-19 00:00:00.000  214.545000  1.055453e+08  2.948379e+09   bitcoin
19  2015-01-20 00:00:00.000  210.513700  9.431214e+07  2.893627e+09   bitcoin

In [62]:
# eth
eth_df = pd.read_csv('datasets/ethereum.csv')
eth_df.head()

                      date     price  total_volume    market_cap coin_name
0  2015-08-07 00:00:00.000  2.831620  9.062200e+04  0.000000e+00  ethereum
1  2015-08-08 00:00:00.000  1.330750  3.680700e+05  8.033948e+07  ethereum
2  2015-08-10 00:00:00.000  0.687586  4.004641e+05  4.155631e+07  ethereum
3  2015-08-11 00:00:00.000  1.067379  1.518998e+06  6.453901e+07  ethereum
4  2015-08-12 00:00:00.000  1.256613  2.073893e+06  7.601326e+07  ethereum

In [63]:
# check bitcoin for null values
print(btc_df.isnull().any())

# find out how many null values
btc_df.isnull().any().sum()

date            False
price           False
total_volume    False
market_cap       True
coin_name       False
dtype: bool

1

In [64]:
# investigate the the null values
btc_df[btc_df['market_cap'].isnull()].index.tolist()

[821]

In [65]:
# print the single null value containing record by index
btc_df.iloc[821]

date            2017-04-02 00:00:00.000
price                          1098.068
total_volume            80231506.350677
market_cap                          NaN
coin_name                       bitcoin
Name: 821, dtype: object

In [70]:
# delete the single record with null value for market cap
btc_df = btc_df.drop(btc_df.index[821])

# test dataframe for null values
btc_df.isnull().any().sum()

0

In [71]:
# check ethereum for null values
print(eth_df.isnull().any())

# find out how many null values
eth_df.isnull().any().sum()

date            False
price           False
total_volume    False
market_cap       True
coin_name       False
dtype: bool

1

In [72]:
# investigate the the null values
eth_df[eth_df['market_cap'].isnull()].index.tolist()

[603]

In [73]:
# print the single null value containing record by index
eth_df.iloc[603]

date            2017-04-02 00:00:00.000
price                         48.378467
total_volume            86493796.356034
market_cap                          NaN
coin_name                      ethereum
Name: 603, dtype: object

In [74]:
# delete the single record with null value for market cap
eth_df = eth_df.drop(df.index[603])

# test dataframe for null values
eth_df.isnull().any().sum()

0

In [81]:
eth_df['price'].median()

259.7626567478825

In [91]:
print(btc_df['price'])
print(btc_df['price'].min())

0         313.992000
1         314.446000
2         286.572000
3         260.936000
4         273.220000
            ...
2892    17084.873340
2893    16923.382870
2894    17149.931751
2895    16973.372578
2896    17085.643141
Name: price, Length: 2894, dtype: float64
172.1479